.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-title, .card h5.parcelas{font-weight: 700;}
.card h6{margin-bottom: 1rem;}
.card .card-img-top{
  margin: 2em auto auto;
  max-height: 124px;
  width: auto;
}
.card-title{color: #054F77;}

footer{padding: .75em;}
footer p{margin: 0;}

h3,h5,h6{font-weight: 400;}
h4{font-weight: 100;}
h5.card-text, h6.card-text{color: #777;}

header{padding: 2em;}

.loader{width: 50px; margin-right: .25em;}

.main{
background: rgb(66,92,187);
background: linear-gradient(-9deg, rgba(66,92,187,1) 22%, rgba(41,63,147,1) 50%);
padding: 3em;
}
.main footer{padding: 0;margin-top: 2.5em;}
.main header{padding: 0;color: #fff;margin-bottom: 2em;}

.main .formSection{
  text-align: left;
}
.main .formSection button{
  margin: 1em auto auto;
  display: block;
  padding: .375rem 3rem;
}

.main .formSection .lightSkin label{color: #fff;}

.plano-escolhido{text-align: right;color: #fff;}

ul{padding: 0;margin-bottom: 0!important;}
ul li{list-style: none;}